input {
  border: 1px solid rgb(177, 176, 176);
  border-radius: 4px;
  margin-bottom: 30px;
}

section {
  color: rgb(82, 82, 143);
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 400;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.units {
  color: rgb(22, 14, 6);
}

button {
  border: none;
  background: transparent;
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.location-icon {
  opacity: 0.5;
}

.location-icon:hover {
  opacity: 1;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather {
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
}
]

.weather {
  font-size: 16px;
  color: black;
}

.input-field {
  text-align: center;
  margin-top: 50px;
}

.submit {
  border: none;
  background: transparent;
  position: relative;
  left: -35px;
  color: gray;
}

.first p {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.first span {
  font-weight: bold;
}
.days {
  margin-bottom: 100px;
}

.gitHubLink {
  color: rgb(47, 47, 201);
}
