body {
  background-color: #ebebe3;
}

input {
  border: 1px solid #ebebe3;
  border-radius: 10px;
  margin-bottom: 30px;
  border-style: groove;
  width: 40%;
  height: 36px;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

section {
  color: #2b2b28;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background: transparent;
  position: relative;
  left: -30px;
  top: -3px;
}

.location {
  font-size: larger;
}
.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px;
  background: white;
  box-shadow: 5px 5px 5px grey;
}
.location-icon {
  opacity: 0.5;
}

.location-icon:hover {
  opacity: 1;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #2b2b28;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #2b2b28;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather {
  color: #2b2b28;
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.input-field {
  text-align: center;
}

.submit {
  border: none;
  background: transparent;
  position: relative;
  left: -40px;
  color: gray;
  width: 30px;
}

.first p {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.first span {
  font-weight: bold;
}
.days {
  margin-bottom: 100px;
}

.gitHubLink {
  color: #2b2b28;
}

.data {
  position: relative;
  right: -15px;
  bottom: -15px;
}

.weather-forecast {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-conditions {
  color: #ec6e4c;
}
